
.sketch-pad{
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    width: 400px;
    height: 400px;
    border: 40px solid yellow;
    text-align: right;

}

.box {
    border: 1px solid black;
}

