h1 {
    text-align: center;
    font-family: "Apple Chancery";
    color: gold;
    font-size: 60px;
}

body {
    background-image: linear-gradient(to bottom right, #6fa4d6, #d3cacd);
    display: flex;
    justify-content: space-between;
    font-family: "Arial";
    font-size: 60px;
    color: white;
    flex-wrap: wrap;
    gap: 30px;
}

/* Etch-a-sketch*/

.sketch-pad,
.sketch-a-etch,
.circle {
    border: 7px solid grey;
}

.sketch-pad{
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}

.sketch-a-etch {
    background-image: linear-gradient(to bottom right, #e74747, #fa8d8d);
    padding:40px 0; 
    border-radius: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    height: 800px;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
}

.knobs {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.screen-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.boxes {
    border: 1px solid rgba(128, 128, 128, 0.11);
}

/* right side */

.controls {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.control-header {
    text-align: center;

}

.header-content {
    font-size: 20px;
    text-align: center;
    margin: 0 0 20%;
}

.content {
    display: flex;
}

.labels {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
}

.clear {
    font-size: 24px;
    padding: 8px;
    color: #6fa4d6;
    background-color:white;
    border-radius: 8px;
}
